body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
}
header {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
h1 {
	margin: 0;
	font-size: 24px;
}
.actions {
	display: flex;
	align-items: center;
}
.add-user {
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Adicione esta linha para remover a sublinhado padrão do link */
}
.add-user:hover {
	background-color: white;
}
.search {
	display: flex;
	align-items: center;
}
.search input {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px
}
* button {
	background-color: #1E90FF;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	margin-right: 10px;
	transition: background-color 0.3s ease;
}


  .navbar {
    background-color: #7c4dff;
    color: #fff;
    font-weight: bold;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }

  .nav-link {
    color: #fff;
    font-size: 1.2rem;
    margin-right: 1rem;
  }
