body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  .cadastro {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 0px 10px #cccccc;
    max-width: 600px;
    width: 100%;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  input[type="text"], input[type="email"], input[type="password"] {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
  }
  input[type="submit"] {
    background-color: #3e8e41;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  button [type="submit"] {
    background-color: #3e8e41;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }